@model poiesis_mvc.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<section class="container mt-4 mb-4">
    <h3>Seguro que deseas borrar este usuario?</h3>
    <a asp-action="Index">Volver a la lista de usuarios</a>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.apellido)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.apellido)
            </dd>
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.dni)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.dni)
            </dd>
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.celular)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.celular)
            </dd>
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.experienciaDeEscritura)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.experienciaDeEscritura)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.contrasenia)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.contrasenia)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.generoDeEscritura)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.generoDeEscritura)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.frecuenciaDeLectura)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.frecuenciaDeLectura)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.eleccionDiaYHorario)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.eleccionDiaYHorario)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="idUsuario" />
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </form>
    </div>
</section>