@model poiesis_mvc.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.experienciaDeEscritura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.experienciaDeEscritura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contrasenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contrasenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.generoDeEscritura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.generoDeEscritura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.frecuenciaDeLectura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.frecuenciaDeLectura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eleccionDiaYHorario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eleccionDiaYHorario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
