@model poiesis_mvc.Models.Usuario

@{
    ViewData["Title"] = "Details";
}


<section class="cover-img-bg full-height">
    <div class="blue-overlay">
        <div class="container">
            <div class="card-container p-4">
                <div class="text-left">
                    <div class="row">
                        <div class="col-sm-10">
                            <h2>@Html.DisplayFor(model => model.nombreCompleto)</h2>
                        </div>
                        <div class="col-sm-2">
                            <a asp-action="Edit" asp-route-id="@Model.idUsuario" class="btn btn-info">Editar</a>
                        </div>
                    </div>
                    <dl class="row">

                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.dni)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.dni)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.celular)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.celular)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.email)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.email)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.experienciaDeEscritura)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.experienciaDeEscritura)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.contrasenia)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.contrasenia)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.generoDeEscritura)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.generoDeEscritura)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.frecuenciaDeLectura)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.frecuenciaDeLectura)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.eleccionDiaYHorario)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.eleccionDiaYHorario)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Index">Volver a la lista de usuarios</a>
                </div>
            </div>
        </div>
    </div>
</section>
