@model IEnumerable<poiesis_mvc.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<section class="cover-img-bg full-height">
    <div class="blue-overlay">
        <div class="container">
            <div class="card-container p-4">
                <h2>Usuarios</h2>
                <p>
                    <a asp-action="Create" class="btn btn-info">Crear usuario</a>
                </p>
                <div class="row row-cols-3">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombreCompleto)</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.email)</h6>
                                    <a asp-action="Edit" asp-route-id="@item.idUsuario" class="card-link">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.idUsuario" class="card-link">Detalle</a>
                                    <a asp-action="Delete" asp-route-id="@item.idUsuario" class="card-link text-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
