@model poiesis_mvc.Models.Texto

@{
    ViewData["Title"] = "Delete";
}

<section class="container mt-4 mb-4">
    <h3>Seguro que deseas borrar este texto?</h3>
    <a asp-action="Index">Volver a la lista de textos</a>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.fechaPublicacion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.fechaPublicacion)
            </dd>
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.titulo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.titulo)
            </dd>
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.contenido)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.contenido)
            </dd>
            <dt class="col-sm-3 mayusc">
                @Html.DisplayNameFor(model => model.genero)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.genero)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Usuario)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Usuario.idUsuario)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="idTexto" />
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </form>
    </div>
</section>
