@model poiesis_mvc.Models.Texto

@{
    ViewData["Title"] = "Details";
}


<section>
    <div class="hero-image ficcion">
        <div class="hero-text">
            <div>
                <h1 class="font-abril"> @Html.DisplayFor(model => model.titulo)</h1>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md-10">
                <h6><strong>Por @Html.DisplayFor(model => model.Usuario.nombreCompleto)</strong></h6>
                <p>@Html.DisplayFor(model => model.fechaPublicacion)</p>
                <div class="seccion-texto">
                    <pre>
                        @Html.DisplayFor(model => model.contenido)
                    </pre>
                </div>
            </div>
            <div class="col-md-2">
                <a class="btn btn-info d-block mb-3" asp-action="Edit" asp-route-id="@Model.idTexto">Editar</a>
                <a class="btn btn-danger d-block" asp-action="Delete" asp-route-id="@Model.idTexto">Borrar</a>
            </div>
        </div>
    </div>
</section>
