@model IEnumerable<poiesis_mvc.Models.Texto>

@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="hero-image">
        <div class="hero-text">
            <div>
                <img src="~/assets/logo-white.svg" />
                <h2 class="font-abril mt-4">Taller de escritura</h2>
            </div>
        </div>
    </div>
</section>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.idUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idTexto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idTexto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idTexto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
